@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
}
.container-forgot-password {
  position: relative;
  width: 460px;
  border-radius: 12px;
  padding: 20px 30px 120px;
  background: #303f9f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}
.container-forgot-password header {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.container-forgot-password p {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}
.container-forgot-password input[type="email"] {
  width: 100%;
  padding: 10px 15px;
  outline: none;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
.container-forgot-password button {
  width: 20%;
  padding: 8px;
  background: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #303f9f;
}

.container-forgot-password form button:hover {
  background: #becdec;
}

.container-forgot-password form {
  display: grid;
  place-items: center;
}
.container-forgot-password a {
  display: block;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
